.container {
  padding: 25px;
  font-family: Arial;
}

.form-box {
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.form-box label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form-box select,
.form-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-box button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #134074;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.result-box {
  margin-top: 20px;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
